@import "tailwindcss";

@theme {
  --color-primary: #22D3EE;
  --color-primary-hover: #67E8F9;
  --color-surface: #0F172A;
  --color-surface-alt: #1E293B;
  --color-border-dark: #334155;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #020617;
  color: #f8fafc;
  min-height: 100vh;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-mono {
  font-family: 'JetBrains Mono', monospace;
}
